.green-text {
  color: green;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.my_banner {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.container {
  margin-top: 20px;
  width: 100%;
  position: relative;

}

.container a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* keep it centred */
  background: transparent;
  padding: 12px;
  font-size: 50px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 1rem;
}
