/* ===================== all page ===================== */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

/* ===================== pfp banner ===================== */

.profile-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pfp-pic-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border-bottom: 0.1px solid #000000;
    box-shadow:
        0 0 5px rgb(0, 0, 1),
        0 0 10px rgb(67, 67, 67),
        0 0 20px rgb(178, 178, 178),
        0 0 40px rgb(247, 247, 247);
}

.pfp-pic-banner img {
    height: 230px;
    width: 230px;
    max-width: 230px;
    border: 4px solid #05184d;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;
}

.pfp-pic-banner img:hover {
    opacity: 0.8;
    transform: scale(1.15);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

/* ===================== creds and sub button ===================== */

.creds-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;   
}

.show-cred-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 250px;     
    border: 1px solid rgb(133, 133, 133);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);
    transition: 0.3s ease;
}

.show-cred-container:hover {
    transform: scale(1.02);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
}

.show-cred-container div {
    display: flex;
}

.show-cred-container div h3 {
    margin-right: 10px;
}

#submit-button {
    background: linear-gradient(135deg, #768be7, #764ba2);
    font-family: Arial, Helvetica, sans-serif;
    color: #030613;
    border-radius: 20px;
    border: 5px solid #000000;
    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.4);
    padding: 20px 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

#submit-button:hover {
    background: linear-gradient(135deg, #667eea, #764ba2);
    transform: scale(1.05);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
}

/* ===================== fieldsets area ===================== */

fieldset {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 0;
    width: 100%;
}

.fieldset-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;            
    max-width: 60%;       
    height: 100px;
    background: linear-gradient(90deg, rgb(215, 220, 255) 0%, rgb(235, 240, 255) 100%);
    border-radius: 20px;
    border: 1px solid #000000;
    padding: 0 20px;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.fieldset-banner:hover {
    transform: scale(1.02);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
}


.fieldset-legend {
    background-color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;            
    padding: 13px;
    border-radius: 20px;
    border: 1px solid #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input[type="text"] { /**type text input sonly so sub button doesent count**/
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
}

input[type="text"]:focus {
    background: linear-gradient(90deg, rgb(215, 220, 255) 0%, rgb(235, 240, 255) 100%);
    font-size: 20px;
}

input[type="text"]::placeholder {
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 0, 0);
}

/* ===================== for mobile view ===================== */

@media (max-width: 480px) {

    body {
        padding-bottom: 75px !important;
    }

    .creds-banner {
        flex-direction: column;
        align-items: center;
    }

    .show-cred-container {
        width: 90%;
    }

    .fieldset-banner {
        flex-direction: column;
        height: auto;
        padding: 20px;
        min-width: 400px;
    }

    .input-container {
        margin: 0;
        width: 100%;
    }

    .fieldset-legend {
        margin: 0;
        font-size: 1.2em;
    }
}
