body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pfp-banner{
    display: flex;
    
    
}

.pfp-pic {
    display: flex;             
    justify-content: center;   
    width: 100%;    /*so the container of the img is from end to end*/  
    height: 50%;    
    background: linear-gradient(135deg, #667eea, #764ba2);
    border-bottom: 4px solid #05184d;
}

.pfp-pic img {
    height: 150px;
    border: 4px solid #05184d;
    border-radius: 50%;
}